version: '3'
services:
  buildbot:
    image: buildbot/buildbot-master:master
    container_name: buildbot-master
    volumes:
      - ./master/master.cfg:/var/lib/buildbot/master.cfg
    env_file:
      - .env
    environment:
      - BUILDBOT_CONFIG_DIR=master
      #- BUILDBOT_CONFIG_URL=https://raw.githubusercontent.com/Submitty/submitty-buildbot/master/master/master.cfg?token=ADNHRT5OG6BAY4FHS6N7P3S47FKQM
      - BUILDBOT_WORKER_PORT=9989
      - BUILDBOT_WEB_URL=http://localhost:8010/
      - BUILDBOT_WEB_PORT=tcp:port=8010
    links:
      - db
    depends_on:
      - db
    ports:
      - "8010:8010"

  db:
    image: "postgres:9.4"
    container_name: buildbot-database
    env_file:
      - .env
    expose:
      - 5432

  php-site-worker:
    build:
        context: workers/php
        dockerfile: Dockerfile
    container_name: php-site-worker
    environment:
      BUILDMASTER: buildbot
      BUILDMASTER_PORT: 9989
      WORKERNAME: php-site-worker
      WORKERPASS: pass
      WORKER_ENVIRONMENT_BLACKLIST: DOCKER_BUILDBOT* BUILDBOT_ENV_* BUILDBOT_1* WORKER_ENVIRONMENT_BLACKLIST
    links:
      - buildbot

  python-migrator-worker:
    build:
        context: workers/python
        dockerfile: Dockerfile_Migrations
    container_name: python-migrator-worker
    environment:
      BUILDMASTER: buildbot
      BUILDMASTER_PORT: 9989
      WORKERNAME: python-migrator-worker
      WORKERPASS: pass
      WORKER_ENVIRONMENT_BLACKLIST: DOCKER_BUILDBOT* BUILDBOT_ENV_* BUILDBOT_1* WORKER_ENVIRONMENT_BLACKLIST
    links:
      - buildbot

  python-autograder-worker:
    build:
        context: workers/python
        dockerfile: Dockerfile_Autograder
    container_name: python-autograder-worker
    volumes:
      - ./workers/autograder.sh:/buildbot/python-autograder-tests/autograder.sh
      - ./workers/setup.sh:/buildbot/python-autograder-tests/setup.sh
      - ./workers/setup_test_suite.sh:/buildbot/python-autograder-tests/setup_test_suite.sh
    environment:
      BUILDMASTER: buildbot
      BUILDMASTER_PORT: 9989
      WORKERNAME: python-autograder-worker
      WORKERPASS: pass
      WORKER_ENVIRONMENT_BLACKLIST: DOCKER_BUILDBOT* BUILDBOT_ENV_* BUILDBOT_1* WORKER_ENVIRONMENT_BLACKLIST
    links:
      - buildbot

  python-submitty-utils-worker:
    build:
        context: workers/python
        dockerfile: Dockerfile_Submitty_Utils
    container_name: python-submitty-utils-worker
    environment:
      BUILDMASTER: buildbot
      BUILDMASTER_PORT: 9989
      WORKERNAME: python-submitty-utils-worker
      WORKERPASS: pass
      WORKER_ENVIRONMENT_BLACKLIST: DOCKER_BUILDBOT* BUILDBOT_ENV_* BUILDBOT_1* WORKER_ENVIRONMENT_BLACKLIST
    links:
      - buildbot